<!-- <mat-card>
   <h1>Get in touch!</h1>

   <mat-form-field style="width: 100%">
     <input matInput placeholder="Name" [formControl]="nameFormControl" />
     <mat-error *ngIf="nameFormControl.hasError('minlength')">
       Name must be at least 4 characters long.
     </mat-error>
     <mat-error *ngIf="nameFormControl.hasError('required')">
       Name is <strong>required</strong>
     </mat-error>
   </mat-form-field>

   <mat-form-field style="width: 100%">
     <input matInput placeholder="Email" [formControl]="emailFormControl"/>
     <mat-error *ngIf="emailFormControl.hasError('email')">
       Please enter a valid email address
     </mat-error>
     <mat-error *ngIf="emailFormControl.hasError('required')">
       Email is <strong>required</strong>
     </mat-error>
   </mat-form-field>

   <button
     mat-raised-button
     [disabled]="emailFormControl.invalid || nameFormControl.invalid || loading"
     color="primary"
     (click)="register()"
   >
    Click me!
   </button>
 </mat-card> -->
