<app-nav></app-nav>
<section id="contact">
   <div class="row">
      <div class="col-sm-10 offset-1">
         <!-- <h2>Books I'm Currently Reading</h2>
         <h3 class="books_h3">You Don't Know JS - Scopes & Closure <cite class="cite">by Kyle Simpson</cite></h3>
         <p>Can be found at: <a target="blank" href="https://github.com/getify/You-Dont-Know-JS">https://github.com/getify/You-Dont-Know-JS</a>.

            Guys, I can't say enough about this fantastic resource for anyone learning JS. Really helpful, you can
            get them all FREE, all 6 books. You can purchase these in Kindle, hardback or paperback versions. If you
            have the spare doe and would like a copy, I recommend going for it, splash out! As it's such a great and
            coherent resource to have in the arsenal and supporting the author who made these brilliant resources
            free just seems right!
         </p>

         <ul class="text-justify">
            <li>The books I am referring to</li>
            <li> Up & Going</li>
            <li> Scope & Closures</li>
            <li>this & Object Prototypes</li>
            <li>Types & Grammar</li>
            <li>Async & Performance</li>
            <li>ES6 & Beyond</li>
         </ul> -->
         <form>

          <!-- name -->
          <div class="field">
            <input type="text" name="name" class="input" placeholder="Your Name">
          </div>
        
          <!-- email -->
          <div class="field">
            <input type="email" name="email" class="input" placeholder="Your Email">
          </div>
        
          <!-- message -->
          <div class="field">
            <textarea class="textarea" name="message" placeholder="What's on your mind?"></textarea>
          </div>
        
          <button type="submit" class="button is-danger is-large">Submit</button>
        
        </form>
      </div>
   </div>
   <hr>
  

   

</section>

<app-footer></app-footer>