<section id="portfolio">
<div class="row">
  <div class="col-md-12">
                <h1>Check Out Some of My Work</h1>
              </div>
  </div>

      <div class="summary">
        <div class="block"></div>
      </div>
      <div class="small-squares">
        <div> <img src="http://placehold.it/220x220" class="image" alt="Work One" />
        <p data-height="265" data-theme-id="dark" data-slug-hash="NzxMYe" data-default-tab="css,result" data-user="LeanneCodeGirl" data-pen-title="1: Koala CSS" data-preview="true" class="codepen">See the Pen <a href="https://codepen.io/LeanneCodeGirl/pen/NzxMYe/">1: Koala CSS</a> by Leannelb (<a href="https://codepen.io/LeanneCodeGirl">@LeanneCodeGirl</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script></div>


        <div> <img src="http://placehold.it/220x220" class="image" alt="Work Two" /></div>
        <div> <img src="http://placehold.it/220x220" class="image" alt="Work Three" /></div>
        <div> <img src="http://placehold.it/220x220" class="image" alt="Work Four" /></div>
        <div> <img src="http://placehold.it/220x220" class="image" alt="Work Five" /></div>
        <div> <img src="http://placehold.it/220x220" class="image" alt="Work Six" /></div>

      </div>
    
    </section>