<section id="blog-list">
<app-nav></app-nav>
<section id="header">
    <div id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="banner-text text-capitalize">
                        <h1 class="responsive-headline">Lilly Blog</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center home-text">
                    <h2 class="banner-text"><b>Coding snippits, tips, tricks &amp; my experiences.</b><br></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog">
  <!-- <div class="row education">
      <div class="col-md-12">
          <h1>Blog</h1>
      </div>
  </div> -->
  <div class="row">
      <div class="col-md-12">
            <div class="blog-post-item" *ngFor="let blog of blogs">
              <div  class="blog-post" *ngIf="blog.fields">
                <h1 class="blog-title">{{ blog.fields.title }}</h1>
                <div class="blog-tag-date-author">By {{ blog.fields.author }} on<i> {{blog.fields.date }}</i> </div>
                  <div class="blog-short-description">{{ blog.fields.shortDescription }}</div>
                   <div class="btn-wrapper">
                    <button (click)="goToBlogDetailsPage(blog.sys.id)" class="btn">Blog Details</button>
                </div>
              </div>
            </div>
      </div>
  </div>
 </section>