<app-nav></app-nav>
<section id="header">
    <div id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="banner-text text-capitalize">
                        <h1 class="responsive-headline">Lilly Blog</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center home-text">
                    <h2 class="banner-text"><b>Coding snippits, tips, tricks &amp; my experiences.</b><br></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog">
  <div class="row education">
      <div class="col-md-12">
          <h1>Blog</h1>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <h2>DEVELOPER</h2>
            <div class="blog-post-item" *ngFor="let course of courses">
              <div >
                <div  class="blog-post">
                  <!-- <h5 class="alert-heading"><a href="{{ course.fields.url }}" target="_blank">{{ course.fields.title}}</a></h5> -->
                  <h1>{{ course.fields.title }}</h1>
                  <h3 class ="blog_h3">{{ course.fields.slug }}</h3>
                  <div>{{ course.fields.skillLevel }}</div>
                  <div>{{ course.fields.description }}</div>
                  <div>{{ course.fields.shortDescription }}</div>
                  <div>{{ course.fields.duration }}</div>
                  <!-- <div *ngFor="let course of courses.fields.lessons">

                  </div> -->

        
                  <!-- <a href="{{ course.fields.url }}" target="_blank" class="btn btn-success">Go To Course</a> -->
                  <button (click)="goToCourseDetailsPage(course.sys.id)" class="btn btn-info">Course Details</button>
                </div>
              </div>
            </div>
      </div>
  </div>
 </section>