<section id="footer">
    <div class=items>
       <!-- <i class="fa fa-facebook"></i> -->
       <a href="https://www.youtube.com/channel/UC6K9nzWrGWuF0_h1gg-z__A?view_as=subscriber" target="_blank">  <i class="fa fa-youtube"></i></a>
       <a href="mailto:thatforexcashmoneycode@gmail.com?Subject=LILLYCODE%20EMAIL"  target="_blank"><i class="fa fa-envelope"></i></a>
       <a href="https://twitter.com/lilly_code" target="_blank"><i class="fa fa-twitter"></i></a>
       <a href="https://github.com/Leannelb" target="_blank"><i class="fa fa-github"></i></a>    
    </div>
</section> 