<section id="footer">
    <!-- <div class=items>
       <a href="" target="_blank"><i aria-hidden="true" class="fa fa-facebook"></i></a>
       <a href="" target="_blank""><i aria-hidden="true" class="fa fa-youtube"></i></a>
       <a href="" target="_top"><i aria-hidden="true" class="fa fa-envelope"></i></a>
       <a href="" target="_blank""><i class="fa fa-twitter" aria-hidden="true"></i></a> 
       <a href="" target="_blank""><i class="fa fa-google" aria-hidden="true"></i></a> 
    </div> -->
</section> 