<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Lilly Code Blog</span>
        <span class="spacer"></span>
        <div *ngIf="auth.afAuth.authState | async as user; else showLogin"></div>
        <button mat-raised-button color="accent" routerLink="/blog/blog">Blog</button>
        <button mat-button (click)="auth.logout()">Logout</button>
        <ng-template #showLogin>
            <button mat-button (click)="auth.login()">Login With Google</button>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar> -->