<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Lilly Code </span>
        <!-- <a routerLink="/blog">Blog</a>
        <span class="spacer"></span>
        <!-- <div *ngIf="auth.afAuth.authState | async as user; else showLogin"></div> -
        <button mat-raised-button color="accent" routerLink="/blog">Blog</button>
        <button mat-button (click)="auth.logout()">Logout</button>
        <ng-template #showLogin>
            <button mat-button (click)="auth.login()">Login With Google</button>
        </ng-template>
        <button routerLink="/blog">BlogDash</button>
        <button routerLink="/blog/list">Blog List</button> -->


        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
                        <div class="container">
                            <a class="navbar-brand" href="index.html"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link scroll-link" href="#top-content">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link scroll-link" href="#portfolio">Portfolio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link scroll-link" href="#resume">Resume</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link scroll-link" href="#skills">Skills</a>
                                    </li>
                                    <div class="dropdown">
                                        <li class="nav-item">
                                            <a class="nav-link scroll-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#section-4">Hobbies</a>
                                            <div class="dropdown-menu">
                                                <a class="nav-link scroll-link dropdown-item" [routerLink]="[ '/books']">Books I'm Reading</a>
                                                <a class="nav-link scroll-link dropdown-item" [routerLink]="[ '/path']">Courses I'm Completing</a>
                                                <a class="nav-link scroll-link dropdown-item" href="#section-4">Blog</a>
                                            </div>
                                        </li>
                                    </div>
                                    <li class="nav-item">
                                        <a class="nav-link scroll-link" href="#section-4">Footer</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>