<section id="code">
    <div class="Leannelb
    row">
      <div class="col-md-12">
                    <h1>Check Out Some of My Helpful (hopefully) Code Snippits</h1>
                  </div>
      </div>

      <div class="summary">
          <div class="block"></div>
        </div>
        <div class="small-squares">
          <iframe   height='250' scrolling='no' title='1: Koala CSS' src='/embed/preview/NzxMYe/?height=291&theme-id=0&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/LeanneCodeGirl/pen/NzxMYe/'>1: Koala CSS</a> by Leannelb (<a href='https://codepen.io/LeanneCodeGirl'>@LeanneCodeGirl</a>) on <a href='https://codepen.io'>CodePen</a>.
          </iframe>
          <iframe height='250' scrolling='no' title='Ticking clock no lag no smooth tick' src='embed/preview/YeaMNO/?height=410&theme-id=dark&default-tab=html,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/LeanneCodeGirl/pen/YeaMNO/'>Ticking clock no lag no smooth tick</a> by Leannelb (<a href='https://codepen.io/LeanneCodeGirl'>@LeanneCodeGirl</a>) on <a href='https://codepen.io'>CodePen</a>.
          </iframe>
          <iframe height='250' scrolling='no' title='My Tribute Page - Dr. Martin Luther King' src='embed/preview/YYYjvZ/?height=265&theme-id=0&default-tab=html,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/LeanneCodeGirl/pen/YYYjvZ/'>My Tribute Page - Dr. Martin Luther King</a> by Leannelb (<a href='https://codepen.io/LeanneCodeGirl'>@LeanneCodeGirl</a>) on <a href='https://codepen.io'>CodePen</a>.
          </iframe>
          <iframe height='250' scrolling='no' title='Diamond ' src='embed/preview/zaNMOx/?height=265&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/LeanneCodeGirl/pen/zaNMOx/'>Diamond </a> by Leannelb (<a href='https://codepen.io/LeanneCodeGirl'>@LeanneCodeGirl</a>) on <a href='https://codepen.io'>CodePen</a>.
          </iframe>
          <iframe height='250' scrolling='no' title='Footer Font-awesome!' src='d/preview/JaXvLq/?height=284&theme-id=dark&default-tab=html,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/LeanneCodeGirl/pen/JaXvLq/'>Footer Font-awesome!</a> by Leannelb (<a href='https://codepen.io/LeanneCodeGirl'>@LeanneCodeGirl</a>) on <a href='https://codepen.io'>CodePen</a>.
          </iframe>
        
        </div>
    
        
        </section>