
@media only screen and (min-width: 900px)  {
  #books {
    padding: 15% 10% 30% 10% !important;
  }
}
@media (max-width: 900px ) and (min-width: 750px){
  #books {
    padding: 20% 10% 30% 10% !important;
  }
}

@media (max-width: 750px) and (min-width: 550px){
  #books {
    padding: 20% 10% 30% 10% !important;
  }
}
@media (max-width: 550px) and (min-width: 300px){
  #books {
    padding: 30% 10% 30% 10% !important;
  }
}

#books {
  background: #0c0304;
  overflow: hidden;
  /* padding: 10% 10% 15% 10%; */
  color: #afaaaa;
}

h2 {
  font: 22px/30px "opensans-bold", sans-serif;
  color: #fff;
}
h3 {
  font-size: 1rem;
  font-style: italic;
  color: #d4d1d1;
  padding-top: 7%;
  padding-bottom: 3%;
  letter-spacing: 0.5px;
}
p,
li {
  font-family: "Montserrat", sans-serif;
  color: #afaaaa;
  list-style: none;
  font-size: 0.85rem;
  text-align: -webkit-left;
  line-height: 1.5rem;
  text-align-last: left;
}

ul {
  padding-inline-start: 0%;
}
.cite {
  color: rgba(204, 140, 164, 0.7) !important;
}
.listGap {
  padding-top: 5%;
}
#secondSection {
  padding-top: 7%;
}
#books a,
#books a:visited {
  color: #fff;
}
#books a:hover,
#books a:focus {
  color: #11abb0;
}
