<app-nav></app-nav>
<section id="books">
   <div class="row">
      <div class="col-sm-12 col-md-9">
         <h2>Books I'm Currently Reading</h2>
         <h3 class="books_h3">You Don't Know JS - Scopes & Closure <cite>by Kyle Simpson</cite></h3>
         <p> You Don't Know JS - Scopes & Closure <cite>by Kyle Simpson</cite>
            can be found at: <a target="blank" href="https://github.com/getify/You-Dont-Know-JS">https://github.com/getify/You-Dont-Know-JS</a>.
      
            Guys, I can't say enough about this fantastic resource for anyone learning JS. Really helpful, you can
            get them all FREE, all 6 books. You can purchase these in Kindle, hardback or paperback versions. If you
            have the spare doe and would like a copy, I recommend going for it, splash out! As it's such a great and
            coherent resource to have in the arsenal and supporting the author who made these brilliant resources
            free just seems right!
         </p>

         <ul class="text-justify">
            <li>The books I am referring to</li>
            <li> Up & Going</li>
            <li> Scope & Closures</li>
            <li>this & Object Prototypes</li>
            <li>Types & Grammar</li>
            <li>Async & Performance</li>
            <li>ES6 & Beyond</li>
         </ul>
      </div>
   </div>
</section>

            <!-- <section class="highlight">
                  <div class="container">
                     <h2>Books I'm Currently Reading</h2>
                     <p> You Don't Know JS - Scopes & Closure <cite>by Kyle Simpson</cite>
                        Can be found at: </p>
                        <a href="https://github.com/getify/You-Dont-Know-JS">https://github.com/getify/You-Dont-Know-JS</a>
                    
                  </div>
               </section> -->
               
              
                     <!-- <div class="item">
                           <div class="container-table"><div class="vertical-center-row">
                           <h1 class="quoteHead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonummy.</h1>
                           <p class="quoteBody">Mike Jones / Manager At Yellow Ltd.</p>
                      
                     </div>
                     <div class="item">
                           <div class="container-table"><div class="vertical-center-row">
                           <h1 class="quoteHead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonummy.</h1>
                           <p class="quoteBody">Mike Jones / Manager At Yellow Ltd.</p>
               
                     </div>
                     <div class="item">
                           <div class="container-table"><div class="vertical-center-row">
                           <h1 class="quoteHead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonummy.</h1>
                           <p class="quoteBody">Mike Jones / Manager At Yellow Ltd.</p>
                           
                  </div>
                         -->

         


<!-- 
                  <h2>Books I'm Currently Reading</h2>

                  <div class="bookSection">
                  
                        You Don't Know JS - Scopes & Closure <cite>by Kyle Simpson</cite>
                        Can be found at:
             
                        <a target="_blank" href="https://github.com/getify/You-Dont-Know-JS">https://github.com/getify/You-Dont-Know-JS</a>
                     
                        Guys, I can't say enough about this fantastic resource for anyone learning JS. Really helpful, you can
                        get them all FREE, all 6 books. You can purchase these in Kindle, hardback or paperback versions. If you
                        have the spare doe and would like a copy, I recommend going for it, splash out! As it's such a great and
                        coherent resource to have in the arsenal and supporting the author who made these brilliant resources
                        free just seems right!
             
                        <ul>
                           <li>The books I am referring to</li>
                           <li> Up & Going</li>
                           <li> Scope & Closures</li>
                           <li>this & Object Prototypes</li>
                           <li>Types & Grammar</li>
                           <li>Async & Performance</li>
                           <li>ES6 & Beyond</li>
                        </ul>
           
                  </div> -->
<!-- 
                  <div class="bookSection">
                     <p>
                        The Last Man<cite> by Vince Flynn</cite>
                     <br />
                        Can be found at:
                        <a target="_blank" href="https://www.vinceflynn.com/the-last-man">https://www.vinceflynn.com/the-last-man</a>
                        This is a great read, the entire Mitch Rapp (ex-cop, now PI) series is fantastic. This is book #13. 
                     <br />
                        If
                        you would like to read the series, start here: American Assassin
                        (Mitch Rapp #1)
                     <br />
                        <a target="_blank" href="https://www.goodreads.com/book/show/7959473-american-assassin">LINK</a>
                     </p>
                  </div>
                  <div class="bookSection"> -->
                           <!-- <p>
                              You Don't Know JS - Scopes & Closure <cite>by Kyle Simpson</cite><br />
                              Can be found at:
                              <a href="https://github.com/getify/You-Dont-Know-JS"></a>https://github.com/getify/You-Dont-Know-JS
                           </p>
                  </div>
                  <div class="bookSection">
                     <p>
                        You Don't Know JS - Scopes & Closure <cite>by Kyle Simpson</cite><br />
                        Can be found at:
                        <a href="https://github.com/getify/You-Dont-Know-JS"></a>https://github.com/getify/You-Dont-Know-JS
                     </p>
                  </div>
                  <div class="bookSection">
                     <p>
                        You Don't Know JS - Scopes & Closure <cite>by Kyle Simpson</cite><br />
                        Can be found at:
                        <a href="https://github.com/getify/You-Dont-Know-JS"></a>https://github.com/getify/You-Dont-Know-JS
                     </p>
                  </div>
                  <div class="bookSection">
                     <p>
                        You Don't Know JS - Scopes & Closure <cite>by Kyle Simpson</cite><br />
                        Can be found at:
                        <a href="https://github.com/getify/You-Dont-Know-JS"></a>https://github.com/getify/You-Dont-Know-JS
                     </p>
                  </div>
                  <div class="bookSection">
                     <p>
                        You Don't Know JS - Scopes & Closure <cite>by Kyle Simpson</cite><br />
                        Can be found at:
                        <a href="https://github.com/getify/You-Dont-Know-JS"></a>https://github.com/getify/You-Dont-Know-JS
                     </p>
                  </div> --> 
      <!-- </div>
   </div> -->
