<section id="books">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <h2>Books I'm Currently Reading</h2>
      <div class="bookSection">
        <p>
          You Don't Know JS - Scopes & Closure <cite>by Kyle Simpson</cite
          ><br />
          Can be found at:
          <a href="https://github.com/getify/You-Dont-Know-JS"></a
          >https://github.com/getify/You-Dont-Know-JS
        </p>
      </div>
      <div class="bookSection">
        <p>
          The Last Man<cite> by Vince Flynn</cite
          ><br />
          Can be found at:
          <a href="https://github.com/getify/You-Dont-Know-JS"></a
          >https://github.com/getify/You-Dont-Know-JS
        </p>
      </div>
      <div class="bookSection">
        <p>
          You Don't Know JS - Scopes & Closure <cite>by Kyle Simpson</cite
          ><br />
          Can be found at:
          <a href="https://github.com/getify/You-Dont-Know-JS"></a
          >https://github.com/getify/You-Dont-Know-JS
        </p>
      </div>
      <div class="bookSection">
        <p>
          You Don't Know JS - Scopes & Closure <cite>by Kyle Simpson</cite
          ><br />
          Can be found at:
          <a href="https://github.com/getify/You-Dont-Know-JS"></a
          >https://github.com/getify/You-Dont-Know-JS
        </p>
      </div>
    </div>
  </div>
</section>
