<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
                <div class="container">
                    <a class="navbar-brand" [routerLink]="['']">BRAND</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right ml-auto">
                            <li class="nav-item"><a routerLink="/">Home</a></li>
                            <li class="nav-item"><a routerLink="/about">About</a></li>
                            <li class="nav-item"><a routerLink="/portfolio">Portfolio</a></li>
                            <li class="nav-item"><a routerLink="/resume">Resume</a></li>
                            <li class="nav-item"><a routerLink="/code">Code</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

</div> 



