<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#"> <img id="logo" alt="Logo" src="../../assets/images/lillycode2_icon.png" width="65"
      height="65"> <span class="lillytext"> Lilly<b>Code</b></span> </a>
  <button (click)="toggleCollapse()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link scrollto" href="#header">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link scrollto" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link scrollto" href="#portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link scrollto" href="#resume">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/blogs">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/books">Books</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/blog" routerLinkActive="nav-link active">Blog</a>
      </li>
       -->
      <li class="nav-item">
        <a class="nav-link" class="nav-link scrollto" href="#footer">Contact me</a>
      </li>
    </ul>
  </div>
</nav>