<app-navbar></app-navbar>
<section id="header">
    <!-- <span class="hidden">This text is important for a
                crawler to see, but I can't have it on screen 
                because I need to put my human users first and
                they get to see a rich visual experience instead
                of this text. So I hide it with CSS. Remember that
                this will penalize this text's importance, but it's
                better than not having it visible to crawlers at all.
                </span> -->
    <div id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="banner-text text-capitalize">
                        <h1 class="responsive-headline">Hello, I'm Leanne.</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center home-text">
                    <h2 class="banner-text">My goal,<b> is to help you </b>make your <b>dreams a reality.</b><br>
                        <a class="smoothscroll" href="#about"> Scroll</a> to learn more <a class="smoothscroll" href="#about">about me</a>.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="about">
    <div class="row">
        <h3>Raised Buttons</h3>
        <div class="example-button-row">
            <button mat-raised-button>Basic</button>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
            <button mat-raised-button disabled>Disabled</button>
            <a mat-raised-button routerLink=".">Link</a>
        </div>
    </div>
</section>

<section id="about">
    <div class="row">
        <div class="spacer"></div>
        <div class="col-sm-12 about-message">
            <h2 class="aboutHeader">About Me</h2>
        </div>
        <div class="col-sm-12 col-md-9 about-paragraph">
            <p class="about-paragraph">I'm Leanne, back in 2011 I graduated from Maynooth University in Ireland with a
                Double Honors Degree in Computer Science and Biology, two of my passions. Since then, I've lived all
                over, working in the pharmecutical industry before realising it's web development that makes me tick! I
                am an extremely approachable, driven and friendly individual who wants to help you get the best from
                the web! I currently live in sunny Malta and I am employed as a Junior Web Developer. If you'd like to
                reach out and get in touch, I would be delighted to have a chat.
            </p>
        </div>
        <div class="col-sm-12 col-md-3">
            <img class="profile-pic" src="../../../assets/images/mesquare.png" alt="" />
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="Leannelb
  row">
        <div class="col-md-12">
            <h2 class="portfolioHeader">Check Out Some of My Work</h2>
        </div>
    </div>

    <div class="summary">
        <div class="block"></div>
    </div>
    <div class="small-squares">
        <iframe height='250' scrolling='no' title='1: Koala CSS'
            src='//codepen.io/LeanneCodeGirl/embed/preview/NzxMYe/?height=291&theme-id=0&default-tab=css,result&embed-version=2'
            frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a
                href='https://codepen.io/LeanneCodeGirl/pen/NzxMYe/'>1:
                Koala CSS</a> by Leannelb (<a href='https://codepen.io/LeanneCodeGirl'>@LeanneCodeGirl</a>) on <a
                href='https://codepen.io'>CodePen</a>.
        </iframe>
        <iframe height='250' scrolling='no' title='Ticking clock no lag no smooth tick'
            src='//codepen.io/LeanneCodeGirl/embed/preview/YeaMNO/?height=410&theme-id=dark&default-tab=html,result&embed-version=2'
            frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a
                href='https://codepen.io/LeanneCodeGirl/pen/YeaMNO/'>Ticking
                clock no lag no smooth tick</a> by Leannelb (<a
                href='https://codepen.io/LeanneCodeGirl'>@LeanneCodeGirl</a>)
            on <a href='https://codepen.io'>CodePen</a>.
        </iframe>
        <iframe height='250' scrolling='no' title='My Tribute Page - Dr. Martin Luther King'
            src='//codepen.io/LeanneCodeGirl/embed/preview/YYYjvZ/?height=265&theme-id=0&default-tab=html,result&embed-version=2'
            frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a
                href='https://codepen.io/LeanneCodeGirl/pen/YYYjvZ/'>My
                Tribute Page - Dr. Martin Luther King</a> by Leannelb (<a
                href='https://codepen.io/LeanneCodeGirl'>@LeanneCodeGirl</a>)
            on <a href='https://codepen.io'>CodePen</a>.
        </iframe>
        <iframe height='250' scrolling='no' title='Diamond '
            src='//codepen.io/LeanneCodeGirl/embed/preview/zaNMOx/?height=265&theme-id=dark&default-tab=css,result&embed-version=2'
            frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a
                href='https://codepen.io/LeanneCodeGirl/pen/zaNMOx/'>Diamond
            </a> by Leannelb (<a href='https://codepen.io/LeanneCodeGirl'>@LeanneCodeGirl</a>) on <a
                href='https://codepen.io'>CodePen</a>.
        </iframe>
        <iframe height='250' scrolling='no' title='Footer Font-awesome!'
            src='//codepen.io/LeanneCodeGirl/embed/preview/JaXvLq/?height=284&theme-id=dark&default-tab=html,result&embed-version=2'
            frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a
                href='https://codepen.io/LeanneCodeGirl/pen/JaXvLq/'>Footer
                Font-awesome!</a> by Leannelb (<a href='https://codepen.io/LeanneCodeGirl'>@LeanneCodeGirl</a>) on <a
                href='https://codepen.io'>CodePen</a>.
        </iframe>

    </div>

</section>
<section id="resume">
    <div class="row education">
        <div class="col-md-12">
            <h1>What I've Done!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>DEVELOPER</h2>
            <h3 class="resume_h3">Flexx | Grand Canal Dock, Dublin | Nov 2019 - Current</h3>
            <ul class="text-justify">
                <li><b>Angular 8:</b><br> Building beautiful, complex & usable websites with the use of an advanced
                    implementation of Angular. Am part of a fantastic team who strives to push the boundaries.</li>
                <li><b>API Integration:</b><br> Retrival of database information through the use of cleanly wrote
                    services.</li>
                <li><b>Library Components:</b><br> Creation of reusable, home wrote components using Angular to it's
                    ultimate sophistication. Complex, yet simple code written usefully and tackfully.</li>
                <!-- <li><b>Sprints:</b><br> Working toward the completion of assigned tasks prior to sprint completion with the delivery of presentations to conclude.</li> -->
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>DEVELOPER & PROJECT MANAGER</h2>
            <h3 class="resume_h3">Just Some Coding Ltd. | Sliema, Malta | Feb 2018 - Nov 2019</h3>
            <ul class="text-justify">
                <li><b>Angular 8:</b><br> Building beautiful, complex & usable websites with the use of an advanced
                    implementation of Angular. Am part of a fantastic team who strives to push the boundaries.</li>
                <li><b>API Integration:</b><br> Retrival of database information through the use of cleanly wrote
                    services.</li>
                <li><b>Library Components:</b><br> Creation of reusable, home wrote components using Angular to it's
                    ultimate sophistication. Complex, yet simple code written usefully and tackfully.</li>

                <!-- <li><b>Sprints:</b><br> Working toward the completion of assigned tasks prior to sprint completion with the delivery of presentations to conclude.</li> -->

            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>QA TESTER</h2>
            <h3 class="resume_h3">Bigpoint International Services Ltd. | Gzira, Malta | Sep 2017 - Jan 2018</h3>
            <ul class="text-justify">
                <li><b>Testplan Execution &amp; Compilation:</b><br> Development and execution of test suites and test
                    scripts
                    for new and existing games.</li>
                <li><b>Bug &amp; Defect Reports:</b><br> Submission, escalation and tracking of defects found during
                    testing to
                    ensure that they are
                    resolved.</li>
                <li><b>Bug Regression: </b><br>Reproduce issues when necessary in order to assist Game Development in
                    resolving
                    issues whilst
                    utilising required resources e.g. Jira and Mantis for executing test cases and reporting defects.
                </li>
                <li><b>Detailed Test Reports:</b><br>Provide detailed Test Reports during and at the end of each
                    development.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>E-LEARNING CONSULTANT </h2>
            <h3 class="resume_h3">Inmarkets Trading as Skillcast | Mrehil, Malta | Dec 2017 - Aug 2018</h3>
            <ul class="text-justify">
                <li><b>Project Management:</b><br> Manage client communications through meetings, phone calls and
                    emails to produce and
                    deliver excellent e-learning courses in a timely manner, ensuring good relationships are developed
                    for excellent
                    client satisfaction. </li>
                <li><b>Effective Web-Based Training: </b><br>Ensuring ongoing excellent customer satisfaction when
                    dealing with large and small
                    clients.</li>
                <li><b>Fantastic Customer Service: </b><br>Delivered in a web based environment.</li>
                <li><b>Selection Instructional Techniques: </b><br>Meeting the needs of multiple learning modalities
                    and sequences instructional
                    content in storyboards.</li>
                <li><b>Hardware and Software Knowledge: </b><br> Excel, Word, graphics (e.g. bitmap, jpeg, vector
                    images), audio, interactivity,
                    accessibility, programming languages, and e-learning authoring software programs to develop and
                    deliver
                    interactive training experiences.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>QC ANALYST </h2>
            <h3 class="resume_h3">Alexion Pharmaceuticals Inc. | Dublin, Ireland | Jan 2016 - Dec 2017</h3>
            <ul class="text-justify">
                <li><b>Organising and Executing Tests: </b><br>Creating Standard Operating Procedures to carry out
                    laboratory tests. Involved
                    researching best practices within the industry and applying previous knowledge for best outputs.
                </li>
                <li><b>Company Start up: </b><br>Fast paced environment with regulatory considerations and new
                    challenges.</li>
                <li><b>Data Gathering and Dissection: </b><br>Applying knowledge and experience to understand data and
                    report to direct and
                    indirect team members on findings.</li>
                <li><b>Training Representative: </b><br>Managed all training files of the QC department staff. Provided
                    information to colleges on
                    their training and presented to wider groups. </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>BIOPROCESS SCIENTIST </h2>
            <h3 class="resume_h3">Pfizer | Grange Castle, Ireland | Jan 2015 - Dec 2015</h3>
            <ul class="text-justify">
                <li><b>Experimental Design and Execution:</b><br>Responsible for leading and executing projects,
                    including successful execution
                    of projects and organizing partnership where appropriate.</li>
                <li><b>Volunteering: </b><br>Volunteered as a ͚biotechnology agent͛ on site, promoting inclusion,
                    patients, products, people
                    and technology as part of a Pfizer wide program.</li>
                <li><b>Own it!</b><br> Being a responsible and highly committed member of the team, striving for
                    advancement, excellence and
                    site-wide cohesion.</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>UPSTREAM PROCESS TECHNOLOGIST </h2>
            <h3 class="resume_h3">Reliance Genemedix Ltd. | Co. Offaly, Ireland | Jun 2012 - Dec 2013</h3>
            <ul class="text-justify">
                <li><b>Training:</b><br>Trained all new upstream processing staff to laboratory standards, including
                    senior staff members.</li>
                <li><b>Calibration and revalidation: </b><br>Calibration and re-qualification of equipment and
                    machinery.</li>
                <li><b>Scale up: </b><br>Heavily involved in a scale up process, resulted in workload and activities
                    increasing by
                    ~ 250%.</li>
            </ul>
        </div>
    </div>
</section>
<app-footer></app-footer>