<app-nav></app-nav>
<header>
   <div id="top">
      <div class="container-fluid">
         <div class="row">
            <div class="col-12">
               <div class="banner-text text-capitalize">
                  <h1 class="responsive-headline">Hello, I'm Leanne.</h1>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-10 offset-1 text-center">
               <h3 class="banner-text">I'm a <span>Junior Developer</span>, specialising in front end development,
                  <span>my goal</span> is to <span>help you</span> make the web a <span>beautiful place</span>. <a
                     class="smoothscroll" href="#about">Scroll</a>
                  to learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            </div>
         </div>
      </div>
   </div>
</header>
<!-- this is a test -->

