<app-nav></app-nav>
<section id="header">
    <div id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                        <div class="banner-text text-capitalize">
                            <h1 class="responsive-headline">Hello, I'm Leanne.</h1>
                        </div>
                </div>    
            </div>
            <div class="row">
                    <div class="col-10 offset-1 text-center home-text">
                            <h3 class="banner-text">I'm a <span>Junior Developer</span>, specialising in front end development, <span>my goal</span> is to <span>help you</span> make the web a <span>beautiful place</span>. <a class="smoothscroll" href="#about">Scroll</a>
                            to learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
                    </div>  
            </div>
        </div>
    </div>    
</section>
<section id="about">
  <div class="row">
     <div class="col-sm-12 col-md-3">
        <img class="profile-pic"  src="../../../assets/images/mesquare.png" alt="" />
     </div>
     <div class="col-sm-12 col-md-9 about-message">
        <h2 class="about-head">About Me</h2>
        <p class="about-paragraph">I'm Leanne, back in 2011 I graduated from Maynooth University in Ireland with a Double Honors Degree in Computer Science and Biology, two of my passions. Since then, I've lived all over, working in the pharmecutical industry before realising it's web development that makes me tick! I am an extremely approachable, driven and friendly individual who wants to help you get the best from the web! I currently live in sunny Malta and I am employed as a Junior Web Developer. If you'd like to reach out and get in touch, I would be delighted to have a chat.  
        </p>
     </div> 
     </div>
</section>  
<app-footer></app-footer>
