<p>
  blogs works!
</p>
<!-- <app-ndiav></app-ndiav> -->
<section id="blog">
   <div class="row">
      <div class="col-sm-12">
         <h2>Books I'm Currently Reading</h2>
         <h3 class="books_h3">You Don't Know JS - Scopes & Closure <cite class="cite">by Kyle Simpson</cite></h3>
         <p>Can be found at: <a target="blank" href="https://github.com/getify/You-Dont-Know-JS">https://github.com/getify/You-Dont-Know-JS</a>.

            Guys, I can't say enough about this fantastic resource for anyone learning JS. Really helpful, you can
            get them all FREE, all 6 books. You can purchase these in Kindle, hardback or paperback versions. If you
            have the spare doe and would like a copy, I recommend going for it, splash out! As it's such a great and
            coherent resource to have in the arsenal and supporting the author who made these brilliant resources
            free just seems right!
         </p>

         <ul class="text-justify">
            <li>The books I am referring to</li>
            <li> Up & Going</li>
            <li> Scope & Closures</li>
            <li>this & Object Prototypes</li>
            <li>Types & Grammar</li>
            <li>Async & Performance</li>
            <li>ES6 & Beyond</li>
         </ul>
      </div>
   </div>

   <div class="row">
      <div class="col-sm-12">
         <h3 class="books_h3">The Last Man<cite class="cite"> by Vince Flynn</cite></h3>
         <p> Can be found at:
            <a target="_blank" href="https://www.vinceflynn.com/the-last-man">https://www.vinceflynn.com/the-last-man</a>.
            This is a great read, the entire Mitch Rapp (ex-cop now PI) series is fantastic. This is book #13.
            If you would like to read the series, start here: American Assassin
            (Mitch Rapp #1).
            <a target="_blank" href="https://www.goodreads.com/book/show/7959473-american-assassin">Good Reads Review - American Assassin</a>.
         </p>
      </div>
   </div>

   <div class="row">
      <div class="col-sm-12">
         <h3 class="books_h3">The Eleventh Commandment<cite class="cite"> by Jeffery Archer</cite></h3>
         <p> Can be found at:
            <a target="_blank" href="https://www.goodreads.com/book/show/78977.The_Eleventh_Commandment">Good Reads Review 3.87 / 5.00 - The Eleventh Commandment</a>.
            Another CIA type thriller book, really I take anything that comes my way but I like exciting thrillers. Even though, usually I only read a chapter or two before bed!
         </p>
      </div>
   </div>
   <hr>

   <div class="row">
      <div class="col-sm-12">
         <h2 id="secondSection">Books I've Read</h2>
         <h3 class="books_h3"><cite class="cite">Books by Jeffery Archer</cite></h3>
         <p>
            For anyone who hasn't already, check out <cite class="cite">Jeffery Archer</cite>. He's a genius. His book Kane and Able, in my
            opinion is a masterpeice.
            <a target="_blank" href="https://www.goodreads.com/book/show/36397631-kane-able?from_search=true">Good Reads Review - Kane and Able</a>.
            <!-- </p>
                     </p>
                     <a target="_blank" href="https://www.goodreads.com/book/show/78983.Kane_and_Abel"</a>.
                  -->
         </p>
         <p>                  Other books by <cite class="cite">Jeffery Archer</cite> I have read:
            </p>
         <ul class="text-justify">
            <li>Not A Penny More, Not A Penny Less (1976)</li>
            <li>Shall We Tell the President? (1977)</li>
            <li>Kane and Abel (1980) </li>
            <li>The Prodigal Daughter (1982) </li>
            <li>First Among Equals (1984)</li>
            <li>As the Crow Flies (1991) </li>
            <li>Honour Among Thieves (1993) </li>
            <li>A Prisoner of Birth (2008) </li>
            <li>Only Time Will Tell (2011) </li>
            <li>The Sins of the Father (2012) </li>
            <li>Best Kept Secret (2013)</li>
            <li>Mightier Than the Sword (2015) </li>
            <li>Cometh the Hour (2016) </li>
            <li>This Was a Man (2016)</li>

            <li class="listGap cite"><b><i>Non-fiction </i></b></li>
            <li>Hell - Belmarsh (2002)</li>
         </ul>

         <h3 class="books_h3"><cite class="cite">Books by John Connolly</cite></h3>
         <p>
               <cite class="cite">John Connolys </cite>work is fantastic, again, fantasy thrilling and just my cup of tea! Read book #1 in the Charlie Parker series, Every Dead Thing
            <a target="_blank" href="https://www.goodreads.com/book/show/175242.Every_Dead_Thing">Good Reads Review - Every Dead Thing</a>.
          
         </p>
         <p>  Other books by <cite class="cite">John Connolly</cite> I have read:</p>
         <ul class="text-justify"> 
            <li>The Charlie Parker series:</li> 
            <li>Every Dead Thing (1999)</li>
            <li>Dark Hollow (2000)</li>
            <li>The Killing Kind (2001)</li>
            <li>The White Road (2002) </li>
         </ul>
      </div>
   </div>

</section>
