/* You can add global styles to this file, and also import other style files
 green rgb(239, 96, 154);
 turq: rgb(138,225,220);
 mauve: rgb(199, 140, 150);
 burgendy: rgb(150, 60, 81);
 purple: rgb(73, 7, 84);
 peach: (247,233, 196);
 gold: (221, 168, 97); */