
#resume {
  background: rgb(12, 3, 4);
  overflow: hidden;
  padding:10%;
}


#resume a, #resume a:visited  { color: #11ABB0; }
#resume a:hover, #resume a:focus { color: #313131; }

#resume h1 {
  font: 15px/24px 'opensans-semibold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
}
h2{
  font-family: "Montserrat", sans-serif;
  color:white;
  margin-top: 10px;
  letter-spacing: 2px;
  font-size: 1.1rem;
}

h3 {
  font-family: "Lora", serif;
  font-size: 1rem;
  font-style: italic;
  /* color:white; */
  color :rgb(252, 242, 244);
  letter-spacing: .5px;
}
.row{
  margin-top: 1%;
}
li {
  font-family: 'Montserrat', sans-serif;
    /* letter-spacing: 1px; */
    color: white;
    list-style: none;
    font-size: .85rem;
    font-display: justified;
    line-height: 1.2rem;
  }
ul  {
  padding: 0;
  list-style-type: none;
}

#resume .header-col { padding-top: 9px; }
#resume .main-col { padding-right: 10%; }

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
   width: 95%;
   float: left;
   padding: 0;
   text-align: left;
}
.bars .skills {
     margin-top: 36px;
  list-style: none;
}
.bars li {
  position: relative;
     margin-bottom: 60px;
     background: #ccc;
     height: 42px;
     border-radius: 3px;
}
.bars li em {
   font: 15px 'opensans-bold', sans-serif;
  color: #313131;
   text-transform: uppercase;
  letter-spacing: 2px;
   font-weight: normal;
  position: relative;
   top: -36px;
}
.bar-expand {
  position: absolute;
  left: 0;
  top: 0;

  margin: 0;
  padding-right: 24px;
     background: #313131;
  display: inline-block;
     height: 42px;
  line-height: 42px;
  border-radius: 3px 0 0 3px;
}