
#resume {
  background: rgb(12, 3, 4);
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
  
}

#resume a, #resume a:visited  { color: #11ABB0; }
#resume a:hover, #resume a:focus { color: #313131; }

#resume h1 {
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#resume h1 span {
  border-bottom: 3px solid #11ABB0;
  padding-bottom: 6px;
}
#resume h3 {
  font: 25px/30px 'opensans-bold', sans-serif;
}

#resume .header-col { padding-top: 9px; }
#resume .main-col { padding-right: 10%; }

.education, .work {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E8E8E8;
}
#resume .info {
  font: 16px/24px 'librebaskerville-italic', serif;
  color: #6E7881;
  margin-bottom: 18px;
  margin-top: 9px;
}
#resume .info span {
  margin-right: 5px;
  margin-left: 5px;
}
#resume .date {
  font: 15px/24px 'opensans-regular', sans-serif;
  margin-top: 6px;
}

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
   width: 95%;
   float: left;
   padding: 0;
   text-align: left;
}
.bars .skills {
     margin-top: 36px;
  list-style: none;
}
.bars li {
  position: relative;
     margin-bottom: 60px;
     background: #ccc;
     height: 42px;
     border-radius: 3px;
}
.bars li em {
   font: 15px 'opensans-bold', sans-serif;
  color: #313131;
   text-transform: uppercase;
  letter-spacing: 2px;
   font-weight: normal;
  position: relative;
   top: -36px;
}
.bar-expand {
  position: absolute;
  left: 0;
  top: 0;

  margin: 0;
  padding-right: 24px;
     background: #313131;
  display: inline-block;
     height: 42px;
  line-height: 42px;
  border-radius: 3px 0 0 3px;
}