<section id="resume">
  <div class="row education">
    <div class="col-sm-12">
      <h2>Education</h2>
    </div>
  </div>
  <div class="row">
  <div class="col-md-10 offset-1">
    <h3>QA TESTER</h3>
      <p class="info">BIGPOINT INTERNATIONAL SERVICES LTD.| GZIRA, MALTA | <span>&bull;</span> <em class="date"> SEP 2017 – PRESENT</em></p>

          <ul>
            <li><b>Testplan Execution and Compilation:</b> Development and execution of test suites and test scripts for new and existing
              games</li>
              <li><b>Bug and Defect Reports:</b> Submission, escalation and tracking of defects found during testing to ensure that they are
resolved.</li>
<li><b>Bug Regression: </b>Reproduce issues when necessary in order to assist Game Development in resolving issues whilst
utilising required resources e.g. Jira and Mantis for executing test cases and reporting defects.</li>
<li><b>Detailed Test Reports:</b>Provide detailed Test Reports during and at the end of each development.</li> 
          </ul>
        

  </div>
  </div>

  <div class="row">
    <div class="col-md-10 offset-1">
      <h3>QA TESTER</h3>
        <p class="info">BIGPOINT INTERNATIONAL SERVICES LTD.| GZIRA, MALTA | <span>&bull;</span> <em class="date"> SEP 2017 – PRESENT</em></p>

            <ul>
              <li><b>Testplan Execution and Compilation:</b> Development and execution of test suites and test scripts for new and existing
                games</li>
                <li><b>Bug and Defect Reports:</b> Submission, escalation and tracking of defects found during testing to ensure that they are
resolved.</li>
<li><b>Bug Regression: </b>Reproduce issues when necessary in order to assist Game Development in resolving issues whilst
utilising required resources e.g. Jira and Mantis for executing test cases and reporting defects.</li>
<li><b>Detailed Test Reports:</b>Provide detailed Test Reports during and at the end of each development.</li> 
            </ul>
          

    </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-1">
        <h3>QA TESTER</h3>
          <p class="info">BIGPOINT INTERNATIONAL SERVICES LTD.| GZIRA, MALTA | <span>&bull;</span> <em class="date"> SEP 2017 – PRESENT</em></p>
  
              <ul>
                <li><b>Testplan Execution and Compilation:</b> Development and execution of test suites and test scripts for new and existing
                  games</li>
                  <li><b>Bug and Defect Reports:</b> Submission, escalation and tracking of defects found during testing to ensure that they are
  resolved.</li>
  <li><b>Bug Regression: </b>Reproduce issues when necessary in order to assist Game Development in resolving issues whilst
  utilising required resources e.g. Jira and Mantis for executing test cases and reporting defects.</li>
  <li><b>Detailed Test Reports:</b>Provide detailed Test Reports during and at the end of each development.</li> 
              </ul>
            
  
      </div>
      </div>
</section>



