<app-nav></app-nav>
<section id="header" >
    <div id="top" *ngIf="blog.fields">
        <div class="container-fluid">
            <div class="row" >
                <div class="col-12">
                    <div class="banner-text text-capitalize">
                        <img>{{ blog.fields.image }}<img>
                        <h1 class="responsive-headline">{{ blog.fields.title }}</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center home-text">
                    <h2 class="banner-text"><i>{{ blog.fields.shortDescription }}</i><br></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog">
    <div *ngIf="blog.fields">
        <h1 class="blog-title-single">{{ blog.fields.title }}</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="blog-post-item" *ngFor="let blog of blogs">
                    <div>
                        <div class="blog-post">
                            <div class="blog-title-single">{{ blog.fields.title }}</div>
                            <!-- <h3 class="blog_h3">{{ blog.fields.slug }}</h3> -->
                            <div class="blog-long-description">{{ blog.fields.description }}</div>
                            <!-- <div class="blog_p">{{ blog.fields.shortDescription }}</div> -->
                            <!-- <img>{{blog.coverImage[0].fields.file.url}}/> -->
                            <div class="post-image">
                                <img src="{{ blog.fields.coverImage.fields.file.url }}" />
                            </div>
                        </div>

                        <div class="btn-wrapper">
                            <button (click)="goToBlogDetailsPage(blog.sys.id)" class="btn btn-info">Blog
                                Details</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div [innerHTML]="blog.fields.description | mdToHtml"></div>
        <!-- <div [innerHTML]="blog.fields.longDescription | mdToHtml"></div> -->
        <!-- <a href="{{ blog.fields.url }}" target="_blank" class="btn btn-success">Go To blog</a> -->
        <div class="btn-wrapper">
            <button (click)="goToList()" class="btn btn-danger">Back To List</button>
        </div>
    </div>
</section>
// need some commits
// as I changed from master
// as I changed from master on my other project and logs wont be recorded 